<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.survivalpack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/survivalpackicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/survivalpackicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurvivalPack">
        <activity
            android:name=".activity.KampCantasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DagciCantasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CocukCantasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IlkYardimCantasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DepremCantasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CantamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FavoriActivity"
            android:exported="false" />
        <activity
            android:name=".urunactivity.BebekMamasi"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Biberon"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Emzik"
            android:exported="false" />
        <activity
            android:name=".urunactivity.IslakMendil"
            android:exported="false" />
        <activity
            android:name=".urunactivity.AgriKesici"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Aspirin"
            android:exported="false" />
        <activity
            android:name=".urunactivity.AtesDusurucu"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Bandaj"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Cakmak"
            android:exported="false" />
        <activity
            android:name=".urunactivity.CokAmacliCaki"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Dezenfektan"
            android:exported="false" />
        <activity
            android:name=".urunactivity.GazliBez"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Harita"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Ilac"
            android:exported="false" />
        <activity
            android:name=".urunactivity.IsaretFisegi"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Kagit"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Kalem"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Kibrit"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Kiyafet"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Maske"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Petsu"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Pil"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Powerbank"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Pusula"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Radyo"
            android:exported="false" />
        <activity
            android:name=".urunactivity.Tenturdiyot"
            android:exported="false" />
        <activity
            android:name=".urunactivity.TermalOrtu"
            android:exported="false" />
        <activity
            android:name=".urunactivity.YaraBandi"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnaEkranActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>